@media (min-width: 1075px) {

  body {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }


  .button {
    height: 50px;
  }

  .button-success-light,
  .button-secondary {
    width: 327px;
  }

  .header-desktop {
    display: block;
  }

  .header-mobile {
    display: none;
  }

  .welcome-page__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 87px;
    letter-spacing: 2px;
    text-align: center;
  }

  .welcome-page__main-text {
    margin: 20px auto 43px auto;
    max-width: 834px;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
  }

  .welcome-page__button,
  .about-us-page__button {
    display: inline-flex;
  }

  .welcome-page__button.button-success {
    width: 175px;
    margin: 0 50px 0 auto;
  }

  .about-us-page__title,
  .our-worths-page__title,
  .infrastructure-page__title,
  .for-students-page__title,
  .faq-page__title,
  .interview-sign-up_title {
    font-size: 36px;
    font-weight: 300;
    line-height: 49px;
    text-align: left;
  }

  .about-us-page,
  .infrastructure-page {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .about-us-page__main-block,
  .faq-page__main-block {
    display: flex;
    justify-content: space-between;
  }

  .about-us-page__main-text {
    display: inline-block;
    max-width: 728px;
  }

  .about-us-page__paragraph,
  .infrastructure-page__paragraph {
    margin-bottom: 15px;
  }

  .about-us-page__images-group {
    display: inline-block;
    position: relative;
  }

  .about-us-page__hexagon-group {
    position: absolute;
  }

  .hexagon-beige {
    bottom: 50px;
    right: 245px;
  }

  .hexagon_blue {
    top: 170px;
    left: 232px;
  }

  .hexagon_green {
    top: -74px;
    left: 51px;
  }

  .about-us-page__button.button-info {
    margin-right: 21px;
  }

  .infrastructure-page__content {
    padding-left: 38px;
  }

  .infrastructure-page__main-block {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
  }

  .infrastructure-page__video {
    width: 538px;
    height: 297px;
  }

  .infrastructure-page__main-text {
    max-width: 600px;
  }

  .infrastructure-page__title {
    text-align: center;
  }

  .for-students-page {
    min-height: 415px;
  }

  .for-students-page__content {
    display: flex;
    justify-content: space-between;
  }

  .for-students-page__title {
    max-width: 585px;
    text-align: center;
    margin: 83px 0 43px 0;
    font-weight: 700;
  }


  .faq-page__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
  }

  .faq_page__image {
    display: flex;
    position: relative;
    top: -56px;
  }

  .faq-page__question-link {
    margin-top: 32px;
  }

  .interview-sign-up_title {
    text-align: center;
  }

  .interview-sign-up fieldset.interview-sign-up__button-group {
    flex-direction: row;
  }

  .interview-sign-up__form-file-button {
    max-width: 270px;
    margin-right: 4px;
  }
}