/** CSS RESET **/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** CSS RESET **/

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: 'OpenSans';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #666666;
}

.block-content {
  max-width: 1290px;
  margin: 0 auto;
}

.button {
  width: 295px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  border-style: none;
}

.button-success {
  background-color: #9BCC37;
  border-radius: 5px;
  color: #FFFFFF;
  text-decoration: none;
}

.button-success:hover {
  background-color: #77ba04;
}

.button-success-light {
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #9BCC37;
  text-decoration: none;
  border-style: solid;
  border-color: #9BCC37;
}

.button-info {
  background-color: #00B7EC;
  border-radius: 5px;
  color: #FFFFFF;
  text-decoration: none;
}

.button-secondary {
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #00B7EC;
  text-decoration: none;
}

input[type=radio] {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  transition: 0.2s all linear;
  margin: 0 6px 0 0;
  position: relative;
  top: 2px;
  cursor: pointer;
}

input[type=radio]:checked {
  background: #9BCC37;
  border: 2px solid #ffffff;
}

.header {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px; */
}

.header-mobile {
  display: block;
}

.header-mobile__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 11px;
}

.header-mobile__button {
  text-decoration: none;
}

.header-desktop {
  background-color: #00B7EC;
  display: none;
}

.header-desktop__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

}

.header-desktop__link {
  text-decoration: none;
  color: #FFFFFF;
}

.header-desktop__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 40px;
  background-color: #FFFFFF;
  color: #00B7EC;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 5px;
}

.welcome-page,
.about-us-page,
.our-worths-page,
.infrastructure-page,
.faq-page,
.interview-sign-up {
  padding: 35px 10px 25px 10px;
}

.about-us-page__images-group,
.faq_page__image {
  display: none;
}

.welcome-page {
  padding: 30px 0 35px 0;
  color: #FFFFFF;
  letter-spacing: 0em;
  text-align: center;
  background-color: rgb(0, 18, 24, 0.77);
  background-blend-mode: multiply;
  background-image: url("../images/mobile_welcome_page.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-page__title {
  padding: 0 20px 0 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
  letter-spacing: 1px;
}

.welcome-page__main-text {
  margin: 20px 0 42px 0;
  padding: 0 15px;
}

.welcome-page__button,
.about-us-page__button {
  margin-bottom: 10px;
}

.about-us-page__title,
.our-worths-page__title,
.infrastructure-page__title,
.faq-page__title,
.interview-sign-up_title {
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #00B7EC;
}

.about-us-page__main-text,
.infrastructure-page__main-text {
  margin: 10px 0 30px 0;
}

.about-us-page__button {
  border: #00B7EC 1px solid;
}

.our-worths-page {
  background: #E9E9E9;
}

.our-worths-page__slider {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: thin;
}

.our-worths-page__slider::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.our-worths-page__slider__block {
  margin-top: 15px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.our-worths-page__slider__block a {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
}

.our-worths-page__slider__block p {
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}

.infrastructure-page,
.faq-page {
  background: linear-gradient(163.35deg, rgba(40, 228, 115, 0.16) 11.27%, rgba(70, 205, 22, 0.14) 35.82%, rgba(39, 221, 209, 0.39) 57.4%, rgba(5, 176, 213, 0.32) 82.7%);
}

.infrastructure-page__video {
  width: 100%;
}

.for-students-page {
  background-image: url("../images/for_students_page_image.png");
  padding: 30px 0 35px 0;
  color: #FFFFFF;
  letter-spacing: 0em;
  text-align: center;
  background-color: rgb(0, 18, 24, 0.5);
  background-blend-mode: multiply;
  background-position: 85%;
  background-repeat: no-repeat;
  background-size: cover;
}

.for-students-page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.for-students-page__title {
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 21px;
}

.for-students-page__button {
  margin-bottom: 29px;
}

.faq-page__title {
  text-align: left;
  font-weight: 700;
  margin-bottom: 21px;
  padding-left: 10px;
}

.faq-page__question-link {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 21px;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}

.faq-page__toggle {
  position: absolute;
  top: -1px;
  left: 10px;
}

.footer {
  padding: 18px 10px;
  color: #FFFFFF;
  background-color: rgb(0, 18, 24, 0.5);
  background-blend-mode: multiply;
  background-image: url("../images/footer_image.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.interview-sign-up {
  box-sizing: border-box;
  min-width: 355px;
  max-width: 840px;
  margin: 0 auto;
  padding: 24px 30px;
  opacity: 90%;
  background-color: #00B7EC;
}

.interview-sign-up_title {
  font-weight: 300;
  margin-bottom: 21px;
  line-height: 38px;
  color: #FFFFFF;
}

.interview-sign-up__form {
  max-width: 568px;
  margin: 0 auto;
}

.interview-sign-up fieldset {
  max-width: 568px;
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
}

.interview-sign-up fieldset legend {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 6px;
}

.interview-sign-up__form-input {
  height: 50px;
  box-sizing: border-box;
  display: block;
  margin-bottom: 6px;
  padding: 14px 16px;
  border-radius: 5px;
  border: 1px solid rgba(102, 102, 102, 0.5);
  font-family: 'OpenSans';
  font-size: 18px;
  color: #666666;
}

.interview-sign-up__form-input:focus {
  outline: none;
  border-width: 2px;
  border-color: #666666
}

.interview-sign-up__form-radio-block div {
  margin-bottom: 6px;
}

.interview-sign-up__form-input::placeholder {
  margin-left: 19px;
  color: #666666;
  font-family: 'OpenSans';
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 50%;
}

.interview-sign-up__form-file-button {
  margin-bottom: 6px;
  justify-content: space-evenly;
}